<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/TIC-79 -Reload.png" class="img-fluid" id="fotoMuni">
    </div> 
    <div class="col-lg-10">
        <ul>
            <li>
                <h2>Municipalidad de Río Grande</h2> - <h4>Actualidad</h4>
            </li>
            <p>
                Desarrollador. Aplicaciones del municipio.
                Apex Oracle - MySql
            </p>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Mirgor.png" class="img-fluid" id="fotoMirgor">
    </div> 
    <div class="col-lg-10">
        <ul>
            <li>
                <h2>Brightstart - Grupo Mirgor</h2> - <h4>2020</h4>
            </li>
            <p>
                IT - HelpDesk: Técnico informatico de la planta
            </p>
        </ul>
    </div>
</div>
