<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-2 col-lg-2">
        <circle-progress
            [percent]="89"
            [titleFontSize]="'37px'"
            [showUnits]="false"
            [radius]="80"
            [subtitle]="'JavaScript'"
            [subtitleFontSize]="'18px'"
            [subtitleColor]="'#000000'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2">
        <circle-progress
            [percent]="80"
            [titleFontSize]="'37px'"
            [showUnits]="false"
            [radius]="80"
            [subtitle]="'TypeScript'"
            [subtitleFontSize]="'18px'"
            [subtitleColor]="'#000000'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2">
        <circle-progress
            [percent]="90"
            [titleFontSize]="'37px'"
            [showUnits]="false"
            [radius]="80"
            [subtitle]="'CSS'"
            [subtitleFontSize]="'18px'"
            [subtitleColor]="'#000000'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2">
        <circle-progress
            [percent]="96"
            [titleFontSize]="'37px'"
            [showUnits]="false"
            [radius]="80"
            [subtitle]="'HTML'"
            [subtitleFontSize]="'18px'"
            [subtitleColor]="'#000000'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'yellow'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2">
        <circle-progress
            [percent]="80"
            [titleFontSize]="'37px'"
            [showUnits]="false"
            [radius]="80"
            [subtitle]="'Angular'"
            [subtitleFontSize]="'18px'"
            [subtitleColor]="'#000000'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'yellow'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2">
        <circle-progress
            [percent]="75"
            [titleFontSize]="'37px'"
            [showUnits]="false"
            [radius]="80"
            [subtitle]="'Java'"
            [subtitleFontSize]="'18px'"
            [subtitleColor]="'#000000'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'yellow'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2">
        <circle-progress
            [percent]="97"
            [titleFontSize]="'37px'"
            [showUnits]="false"
            [radius]="80"
            [subtitle]="'Trabajo en Equipo'"
            [subtitleFontSize]="'18px'"
            [subtitleColor]="'#000000'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2">
        <circle-progress
            [percent]="90"
            [titleFontSize]="'37px'"
            [showUnits]="false"
            [radius]="80"
            [subtitle]="'Gestión del Tiempo'"
            [subtitleFontSize]="'18px'"
            [subtitleColor]="'#000000'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2">
        <circle-progress
            [percent]="95"
            [titleFontSize]="'37px'"
            [showUnits]="false"
            [radius]="80"
            [subtitle]="'Compromiso'"
            [subtitleFontSize]="'18px'"
            [subtitleColor]="'#000000'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2">
        <circle-progress
            [percent]="90"
            [titleFontSize]="'37px'"
            [showUnits]="false"
            [radius]="80"
            [subtitle]="'Trabajo a presión'"
            [subtitleFontSize]="'18px'"
            [subtitleColor]="'#000000'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'gray'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2">
        <circle-progress
            [percent]="85"
            [titleFontSize]="'37px'"
            [showUnits]="false"
            [radius]="80"
            [subtitle]="'Adaptabilidad'"
            [subtitleFontSize]="'18px'"
            [subtitleColor]="'#000000'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'brown'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
</div>
