<div class="row">
    <h1>Estudios Realizados</h1>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/UTN-FRTDF.png" class="img-fluid" id="fotoFRTDF">
    </div> 
    <div class="col-lg-10">
        <ul>
            <li>
                <h2>UTN - FRTDF</h2> - <h4>Actualidad</h4>
            </li>
            <p>
                Programador Universitario
            </p>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/UTN-FRT.jpg" class="img-fluid" id="fotoFRT">
    </div> 
    <div class="col-lg-10">
        <ul>
            <li>
                <h2>UTN - FRT </h2> - <h4>3 años - Pendiente de Finalizar</h4>
            </li>
            <p>
                Ingenieria en sistemas de la información
            </p>
        </ul>
    </div>
</div>

