div{
    background-color: #7fa8c0;
}
#fotoMuni{
    width: 180px;
    left: 5px;
}
.row{
    padding: 20px;
    left: 10px;
}
#fotoMirgor{
    width: 130px;
    left: 5px;
}
h2, h4{
    display: inline;
}