<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-10 col-md-9 col-lg-9 textoP">
            <h2>Porfolio</h2>
            <p>Mí porfolio web de Argentina Programa el cual el FrontEnd esta realizado con Angular, CSS, Bootstrap. El BackEnd esta con Java, base de datos en MySql, un proyecto final complicado sinceramente el cual me llevo tiempo persona}
                en el mismo aprendí muchisimas cosas nuevas, nuevas herramientas, nuevos metodos </p>
        </div>
        <div class="col-sm-12 col-sm-2 col-lg-2 offset-md-1 offset-lg-1 fotoP">
            <img src="../../../assets/Porfolio base para proyecto final.png" class="img-fluid img-porf">
        </div>
        <div class="col-sm-10 col-md-9 col-lg-9 textoProy">
            <h2>Proyecto2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eos illum in vel, ullam dolorem, laborum vitae adipisci maxime facere, nostrum laudantium. Nam voluptate tempora beatae ipsum vitae soluta tenetur.</p>
        </div>
        <div class="col-sm-12 col-sm-2 col-lg-2 offset-md-1 offset-lg-1 fotoProy">
            <img src="../../../assets/proyecto1.png" class="img-fluid img-proy">
        </div>
    </div>
</div>
