<div class="row">  
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/20210624_170153.jpg" class="img-fluid" id="fotoPerfil">
    </div> 
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> {{persona.apellido}}  {{persona.nombre}}  </p>
        <p><b>Robles, Álvaro Matías</b></p>
        <p >Programador Web Full Stack Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Sobre mí</h1>
            <p>Soy una persona tranquila, que le gusta aprender de todo, mi pasión por la informático nació cuando era adolescente por lo cual después de terminar mis estudios
                en la escuela técnica decidí capacitarme en informática por lo cual, y al no haber una carrera en mi ciudad, tuve que irme a estudiar al norte, el lugar que elegi}
                fue la UTN de Tucumán y me inscribí en Ing. en Sistemas. Luego me capacite en otras áreas como redes, soporte y finalmente en programación.
            </p>
        </span>
    </div>
</div>
