<div class="row">  
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/20210624_170153.jpg" class="img-fluid">
    </div> 
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Robles, Álvaro Matías</p>
        <p>Programador Web Full Stack Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Sobre mí</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta impedit reiciendis ullam sequi quia corporis recusandae ipsa similique eligendi, eaque reprehenderit minima totam, voluptatem obcaecati! Ad quae iste sed aliquam.</p>
        </span>
    </div>
</div>
